#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- \
		-Dplymouth=true

override_dh_install:
	# sessions files are shipped by zarya-session package.
	rm -r debian/tmp/usr/share/xsessions
	rm -r debian/tmp/usr/share/wayland-sessions
	dh_install